<div class="container-fluid">
  <h2>Add a new Quote</h2>
  <hr>
  <form action="">
    <div class="form-group">
      <label for="name">Quote</label>
      <textarea name="name" class="form-control" rows="4" required></textarea>
    </div>
    <div class="form-group">
      <label for="details">Quote Author</label>
      <input type="text" class="form-control" id="details">
    </div>
    <div class="form-group">
      <label for="writer">Posted by</label>
      <input type="text" class="form-control">
    </div>
  </form>
</div>